body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #0099ff;
	color: #fff;
	padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
    padding: 10px;
    background-color: #262626;
    border-radius: 5px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: 'Righteous', cursive;
}

section {
	margin-bottom: 20px;
}
.happyLearning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ysabeau', sans-serif;
    font-size: 35px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

footer {
	background-color: #0066cc;
	color: #fff;
	padding: 20px;
	text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}
